<main>
  <div class="container">
    <div class="row row-flex">
      <h1 class="col-12">Custom Bootstrap Breakpoints</h1>
      <h2 class="col-12">Breakpoint teste at 1111px</h2>
      <div class="col-12 col-sm-6 col-md-4 col-teste-12 col-xl-3">
        <div class="card">
          Card
          <span class="d-none d-teste-block d-xl-none">custom breakpoint .col-teste-12</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-teste-12 col-xl-3">
        <div class="card">
          Card
          <span class="d-none d-teste-block d-xl-none">custom breakpoint .col-teste-12</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-teste-12 col-xl-3">
        <div class="card">
          Card
          <span class="d-none d-teste-block d-xl-none">custom breakpoint .col-teste-12</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-teste-12 col-xl-3">
        <div class="card">
          Card
          <span class="d-none d-teste-block d-xl-none">custom breakpoint .col-teste-12</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-teste-12 col-xl-3">
        <div class="card">
          Card
          <span class="d-none d-teste-block d-xl-none">custom breakpoint .col-teste-12</span>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
